{% assign accentColor = site.accent_color %}
{% assign themeColor = site.theme_color %}
{% comment %}
<!--
Example code for the CloudFlare mail protection script.
CloudFlare will inject this on every page, but due to Hydejack's push state approach to page loading,
it will only run on the initial page.
The snippet below will run the code on every `hy-push-state-load` event instead.
-->

<script>
  document.getElementsByTagName('hy-push-state')[0].addEventListener('hy-push-state-load', function (e) {
    function e(e){
      (console.error?console.error:console.log).call(console,e)
    }

    function t(e){
      return l.innerHTML='<a href="'+e.replace(/"/g,"&quot;")+'"></a>',l.childNodes[0].getAttribute("href")
    }

    function r(e,t){
      var r=e.substr(t,2);return parseInt(r,16)
    }

    function n(e,n){
      for(var o="",c=r(e,n),a=n+2;a<e.length;a+=2){
        var l=r(e,a)^c;
        o+=String.fromCharCode(l)
      }
      return t(o)
    }

    var o="/cdn-cgi/l/email-protection#",
        c=".__cf_email__",
        a="data-cfemail",
        l=document.createElement("div");

    !function(){
      for(var t=document.getElementsByTagName("a"),r=0;r<t.length;r++)
        try{
          var c=t[r],a=c.href.indexOf(o);
          a>-1&&(c.href="mailto:"+n(c.href,a+o.length))
        }catch(t){
          e(t)
        }
    }(),
    function(){
      for(var t=document.querySelectorAll(c),r=0;r<t.length;r++)
        try{
          var o=t[r],l=n(o.getAttribute(a),0),i=document.createTextNode(l);
          o.parentNode.replaceChild(i,o)
        }catch(t){
          e(t)
        }
    }()
  });
</script>
{% endcomment %}


<script>
function addCopyButtons(clipboard) {
  document.querySelectorAll(".code").forEach(function(codeBlock) {
      var button = document.createElement("button");
      button.className = "copy-code-button";
      button.type = "button";
      button.innerText = "Copy";
      button.addEventListener("click", function() {
          clipboard.writeText(codeBlock.textContent).then(function() {
              button.blur();
              button.innerText = "Copied!";
              setTimeout(function() {
                  button.innerText = "Copy"
              }, 2e3)
          }, function(error) {
              button.innerText = "Error";
              console.error(error)
          })
      });
      var pre = codeBlock.parentNode;
      if (pre.parentNode.classList.contains("highlight")) {
          var highlight = pre.parentNode;
          highlight.parentNode.insertBefore(button, highlight)
      } else {
          pre.parentNode.insertBefore(button, pre)
      }
  })
}
if (navigator && navigator.clipboard) {
  addCopyButtons(navigator.clipboard)
} else {
  var script = document.createElement("script");
  script.src = "https://cdnjs.cloudflare.com/ajax/libs/clipboard-polyfill/2.7.0/clipboard-polyfill.promise.js";
  script.integrity = "sha256-waClS2re9NUbXRsryKoof+F9qc1gjjIhc2eT7ZbIv94=";
  script.crossOrigin = "anonymous";
  script.onload = function() {
      addCopyButtons(clipboard)
  };
  document.body.appendChild(script)
}

{% comment %}
function copyCode() {
  var lines = document.querySelectorAll("pre.prettyprint li");
  var txt = "";
  for (var i = 0; i < lines.length; i++) {
    txt = txt + lines[i].textContent + "\n";
  }
{% endcomment %}
</script>
