.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}


td.code>pre, td.gutter.gl>pre{
  padding: 0;
  color: inherit;
  background-color: transparent !important;
  font-size: 1em;
  background-color: var(--gray-bg);
  text-align: left;
}


td.code, td.gutter.gl{
  padding: 0.25em 1em !important;
  background-color: transparent !important;
  border: none !important;
  font-size: 1.2em;
}

td.gutter.gl .lineno{
  border-right: 1px solid var(--border-color);
  padding-left: 0.5rem;
  padding-right: 0.6rem
}

figure.highlight pre{  
  padding: 0rem 0rem 0rem 1rem;
}

figure.highlight .rouge-table{
  margin-bottom: 0;
}